:global(.mcfu-tooltip-container) .tooltip {
  max-width: 20rem;
  background-color: rgb(51, 65, 85);
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  opacity: 1;
}
